/* 
A custom Google font for highlights

A specified standard sans-serif web font for data (such as Arial, Verdana, or Helvetica) (aka ul)
font-family: 'Lato', sans-serif;

A specified standard serif web font for text (such as Georgia, Times, etc.)


Specified different font colors for all three font usages

Colors taken from the Salmon Image
Dark brown #33322a
muted pinkish brown #a06342
light orange #c78e5a

light grey #d1c6bc
dark grey #787a6f
green #707255
*/
body {
  background-color: #c78e5a;
}

article {
  background-color: #c78e5a;
}

title {
  font-family: 'Open Sans', sans-serif;
  color: #33322a;
}

h1 {
  font-family: 'PT Serif', serif;
  color: #33322a;
  font-size: x-large;
  margin: 15px;
  margin-top: 30px;
  text-align: center;
  background-color: #a06342;
  padding: 15px;
}

h2 {
  font-family: 'PT Serif', serif;
  color: #33322a;
  font-size: medium;
  margin: 15px;
  text-align: center;
  background-color: #a06342;
  padding: 15px;
}

ul {
  font-family: 'Lato', sans-serif;
  color: black;
}

.topnav {
  background-color: #33322a;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nameplate {
  display: flex;
  flex-direction: row;
}

.nameImage {
  width: 30%;
  height: 30%;
  margin: auto;
  border: solid 10px #a06342;

}

.nameImageInv {
  width: 30%;
  height: 30%;
  margin: auto;
  transform: scaleX(-1);
  border: solid 10px #a06342;
  
}

#familyImage {
  width: 50%;
  height: 100%;
  float: left;
  margin: 15px;
}

#familyDiv {
  height : 260px;
}

table {
  text-align: center;
  border: 3px solid #33322a;
  margin: auto;
}

table td{
  border: 1px solid #33322a;
}

table th{
  border: 2px solid #33322a;
}

table tf{
  border: 2px solid #33322a;
}

#theSales {
  margin: 20px;
}

#formContainer{
  text-align: center;
}